{% extends 'base.html'%}

{% block content %}

{% include 'partials/_header.html' %}
{% include 'partials/_navbar.html' %}

<div class='centerForm'>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}

        <label for="medium">Alert Medium</label>
        <select name="alert_medium" id="medium", class='form-control'>
            {% for choice in user_alert_medium%}
            <option value={{ choice.alert_type }}>{{ choice }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type='submit', name='add' value='Update'>
    </form>
</div>
{%endblock%}