{% extends 'base.html' %}
{% block content %}
<p> Index page title</p>
<p> this is an index page for fx market watch</p>

<form method='post'>
    {% csrf_token %}
    {{ signupform.as_p }}
    <input type='submit', name='signup' value='Register'>
</form>

{% if login_error_message%}
    <p class='formError'>
         Error in form! {{ login_error_message }}
    </p>
{%endif%}

<form method='post'>
    {% csrf_token %}
    {{ loginform.as_p }}
    <input type='submit', name='login' value='Login'>
    
</p>
    {%endblock%}
