{% extends 'base.html' %}
{% block content %}

{% comment %} <div class="indexHead">
    <img class="bana" src="../static/styles/imgs/fxmarketwatch1.png" alt="FX MARKET WATCH logo">
<div> {% endcomment %}

  {% include 'partials/_header.html' %}

  <div class="splitRow">
    <div class="splitColumn">
      <div class="squ">
      <ul class="fading-slideshow" >
        <li><img src="/static/styles/imgs/slide1.png" alt=""></li>
        <li><img src="/static/styles/imgs/slide2.png" alt=""></li>
        <li><img src="/static/styles/imgs/slide3.png" alt=""></li>
        <li><img src="/static/styles/imgs/slide4.png" alt=""></li>
      </ul>
    </div>
    </div>
    <div class="splitColumn bordered" >
      <div id="login-form" class="loginContainer">
        <div>
          <h3>Login</h3>
        </div>
          {% if login_error_message%}
              <p class='formError'>
                  Error in form! {{ login_error_message }}
              </p>
          {%endif%}

          <form method='post'>
              {% csrf_token %}
              {{ loginform.as_p }}
              <div class="loginAction">
                <input type='submit', name='login' value='Login'>
                <button class="flatButton" type="button" id="btnSignup" >Signup!</button>
              </div>
          </form>
      </div>

      <div id="signup-form" class="signupContainer">
        <div>
          <h3>Register</h3>
        </div>
          <form method='post'>
            {% csrf_token %}
            {{ signupform.as_p }}
            <div class="signupAction">
              <input type='submit', name='signup' value='Register'>
              <button class="flatButton" type="button" id="btnLogin" >Login</button>
            </div>
           </form>
         </div>

        </div>

    </div>
  </div>
{%endblock%}
