{% extends 'base.html' %}
{% block content %}

<div class="indexHead">
    <img class="bana" src="../static/styles/imgs/fxmarketwatch1.png" alt="FX MARKET WATCH logo">
<div>

  <div class="splitRow">
    <div class="splitColumn">
      <div>
        <h1>Register</h1>
      </div>
        <form method='post' class="signupForm">
          {% csrf_token %}
          {{ signupform.as_p }}
          <input type='submit', name='signup' value='Register'>
        </form>
      
    </div>
    <div class="splitColumn">
      <div>
        <h1>Login</h1>
      </div>
        {% if login_error_message%}
            <p class='formError'>
                Error in form! {{ login_error_message }}
            </p>
        {%endif%}

        <form method='post'>
            {% csrf_token %}
            {{ loginform.as_p }}
            <input type='submit', name='login' value='Login'>
        </form>
    </div>
  </div>

{%endblock%}
