{% extends 'base.html'%}

{% block content %}

{% include 'partials/_navbar.html' %}

<p> Welcome {{ first_name }}</p>
<p> My Alerts </p>
<div>

    <div class="splitRow">
        <div class="splitColumn">
            <div>
                <h1>Active Alerts</h1>
              </div>

            {% for item in alert_list %}
            {% if item.is_editable %}
                <li class="cardItem">
                    <div class="card">
                        <div class="cardInfo">
                            <span>{{ item.currency_pair }} <i> Created: {{ item.time_created }}</i></span>
                            <span>
                                {% if item.alert_medium.alert_type == 'telegram' %}
                                    <img src="../static/styles/imgs/telegram-logo.png" alt="Telegram" height="45" width="45">
                                {% elif item.alert_medium.alert_type == 'email' %}
                                <img src="../static/styles/imgs/email-logo.png" alt="Email" height="35" width="35">
                                {% endif %}
                            </span>
                            <br>
                            <span> Triggered if {{ item.condition }} @ {{ item.target_price }} </span><br>
                            <span> Alert Set to Repeat every {{ item.timeframe }} candlestick timeframe {{ item.repeat_alarm }} time(s)</span><br>
                            <span> Alert will be sent to your {{ item.alert_medium }}</span><br>
                            <span> Expiration: {{ item.expiration }} </span><br>
                        </div>
    
                    <div class='action'> {% if item.is_editable %}
                            <a class="btnDefault" href="/user/edit-alert/{{ item.id }}" role="button">Edit</a>
                            <a class="btnAlarm" href="/user/delete-alert/{{ item.id }}" role="button">Delete</a>
                        {% endif %}
                    </div>

                    </div>
                </li>
            {% endif %}
        {% endfor %}
            
        </div>
        <div class="splitColumn">
          
          <div>
            <h1>History</h1>
          </div>
          <ul>
            {% for item in alert_list %}
                {% if not item.is_editable %}
                <li class="cardItem">
                    <div class="card">
                        <div class="cardInfo">
                            <span>{{ item.currency_pair }} <i> Created: {{ item.time_created }}</i></span>
                            <span>
                                {% if item.alert_medium.alert_type == 'telegram' %}
                                    <img src="../static/styles/imgs/telegram-logo.png" alt="Telegram" height="45" width="45">
                                {% elif item.alert_medium.alert_type == 'email' %}
                                <img src="../static/styles/imgs/email-logo.png" alt="Email" height="35" width="35">
                                {% endif %}
                            </span><br>
                            <span> Triggered if {{ item.condition }} @ {{ item.target_price }} </span><br>
                            <span> Alert Set to Repeat every {{ item.timeframe }} candlestick timeframe {{ item.repeat_alarm }} time(s)</span><br>
                            <span> Alert will be sent to your {{ item.alert_medium }}</span><br>
                            <span> Expiration: {{ item.expiration }} </span><br>
                        </div>
    
                    {% comment %} <div class='action'> {% if item.is_editable %}
                            <a class="btnDefault" href="/user/edit-alert/{{ item.id }}" role="button">Edit</a>
                            <a class="btnAlarm" href="/user/delete-alert/{{ item.id }}" role="button">Delete</a>
                        {% endif %}</div> {% endcomment %}

                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>
      </div>

</div>

{%endblock%}