
*{
    box-sizing: border-box;
 }

.indexHead {
    display: block;
    background-color: whitesmoke;
    text-align: center;
}

.bana{
    width: 40%;
    height: auto;
}

.splitColumn {
    float: left;
    width: 50%;
    padding: 10px;
    /* position: absolute; */
    /* background-color: rgba(255, 255, 242, 0.712) */
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.splitRow{
    justify-content: space-between;
    padding: 0px;
    /* padding: 5%; */
}

.flatButton {
    background-color:rgb(175, 178, 238);
    color: black;
    padding: 10px;
    margin: 5%;
    border: 2px solid #000000;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .splitColumn {
      width: 100%;
      /* padding-left: 10%; */
    }
   
  }

