{% load static %}
<footer>
    <div class="container">

      <div class="ftNote">
          <h3>
              Disclaimer:
          </h3>
          <p>
              <b>For informational purposes only:</b> The information provided on this website is for
              informational purposes only and should not be considered as financial advice.
              We are not licensed or qualified to provide investment advice. No content on
              this website constitutes - or should be construed as - a recommendation to buy or
              sell any security or financial product.
          </p>
          <p>
              <b>You are solely responsible for making your own investment decisions:</b> You should
              conduct your own research and due diligence before making any investment decisions.
              Past performance is not necessarily indicative of future results. Investing involves
              risk, including the potential loss of principal.
          </p>
          <p>
              <b>Consider seeking professional advice:</b> We strongly recommend that you consult with a
              qualified financial advisor before making any investment decisions. An advisor can
              help you assess your individual financial needs and goals and develop an appropriate
              investment strategy.
          </p>

          <p>
              <b>By using this website, you agree to these terms:</b> By accessing any content on this website,
              you acknowledge that you understand and agree to the terms of this disclaimer.
          </p>
      </div>

        <div class="colmd6">
            <ul>
              <li class="iconItem"><a href="#"><img src="{% static 'styles/imgs/x-logo.png' %}"alt="Twitter" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="{% static 'styles/imgs/whatsapp-logo.png' %}"alt="Twitter" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="{% static 'styles/imgs/telegram-logo.png' %}"alt="Twitter" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="{% static 'styles/imgs/email-logo.png' %}"alt="Twitter" height="35" width="35"></a></li>
            </ul>
          </div>

      <div class="row">
        <div class="colmd6">
          <p>Copyright © 2023 fx-market-watch.com. All rights reserved.</p>
        </div>
        
      </div>
    </div>