<footer>
    <div class="container">

        <div class="col-md-6">
            <ul>
              <li class="iconItem"><a href="#"><img src="../static/styles/imgs/x-logo.png" alt="Twitter" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="../static/styles/imgs/whatsapp-logo.png" alt="WhatsApp" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="../static/styles/imgs/telegram-logo.png" alt="Telegram" height="35" width="35"></a></li>
              <li class="iconItem"><a href="#"><img src="../static/styles/imgs/email-logo.png" alt="Email" height="35" width="35"></a></li>
            </ul>
          </div>

      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2023 fx-market-watch.com. All rights reserved.</p>
        </div>
        
      </div>
    </div>
  </footer>